.WhatMakesUsDifferent {
  position: absolute;
  width: 375px;
  height: 841px;
  left: 0px;
  top: 1725px;

  background: linear-gradient(
    165.41deg,
    #d99ec9 0%,
    rgba(246, 240, 196, 0) 100%
  );
}

.heading1 {
  position: absolute;
  width: 295px;
  height: 33px;
  left: 34px;
  top: 1764px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  color: #1b1b50;
}

.content1 {
  position: absolute;
  width: 308px;
  height: 575px;
  left: 34px;
  top: 1949px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */

  color: #1b1b50;
}

.heading2 {
  position: absolute;
  width: 335px;
  height: 86px;
  left: 34px;
  top: 1834px;

  font-family: "ReptileMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 134.8%;
  /* or 43px */

  color: #1b1b50;
}

.Bullets {
  margin-block-start: 10px;
  padding-inline-start: 20px;
}
